<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-epson-print" version="1.0.0">
    <name>Epson Print</name>
    <description>Cordova Plugin for printing on epson pos printers</description>
    <license>Apache 2.0</license>
    <keywords>cordova,epson,print</keywords>

    <js-module src="www/epsonPrint.js" name="EpsonPrint">
        <clobbers target="EpsonPrint" />
    </js-module>
     <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EpsonPrint">
                <param name="android-package" value="EpsonController"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>

        <source-file src="src/android/EpsonController.java" target-dir="src/org/apache/cordova/plugin" />
        <source-file src="src/android/EpsonPrinter.java" target-dir="src/org/apache/cordova/plugin" />
        <source-file src="src/android/PrinterSearch.java" target-dir="src/org/apache/cordova/plugin" />
        <source-file src="src/android/MyBase64.java" target-dir="src/org/apache/cordova/plugin" />
        <source-file src="src/android/ePOS2.jar" target-dir="libs" />
        <source-file src="src/android/ePOSEasySelect.jar" target-dir="libs" />
        <source-file src="src/android/libepos2.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libeposeasyselect.so" target-dir="libs/armeabi" />
    </platform>
</plugin>